{% extends 'general.html.twig' %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>{% endblock %}

{% block idBody %}validationAnnonces{% endblock %}

{% block contenu %}
    <h2 class="center up">Validation des annonces</h2>
    <section id="listeOffres">
        {% for annonce in listeAnnonce %}
            {% for ent in annonce.entreprise %}
                <div class="offre {% if annonce.stage == 1 %}offreStage{% else %}offreEmploi{% endif %}">
                    <div class="logoEntOffre logoEntOffre_Min">
                        <img src="logosEntreprises/{{ ent.logo }}" alt="Logo de l'entreprise {{ ent.nom }}">
                        <h3 class="bleuF up">{% if annonce.stage == 1 %}STAGE{% else %}EMPLOI{% endif %} | {{ ent.nom }}</h3>
                    </div>
                    <div>
                        <p class="titre">{{ annonce.posteRecherche[:70] }}</p>
                        <p class="desc">
                            {{ annonce.descPoste[:220] }}
                        </p>
                        <a href="{{ ent.url }}" class="bleuF">{{ ent.url }}</a>
                    </div>
                    <div>
                        <div class="gestion">
                            <form method="post" action="index.php?page=validationAnnonces&id={{ annonce.id }}">
                                <button name="valAnnonce" class="val"><img src="img/icone_valider.png" alt="Icone supprimer"></button>
                            </form>
                            <a href="index.php?page=confSuppr&id={{ annonce.id }}"><img class="supp" src="img/icone_croix.png" alt="Icone supprimer"></a>
                        </div>
                        <span><a href="index.php?page=offreDetaillee&id={{ annonce.id }}" class="blanc up">Voir l'offre</a></span>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}