{% extends 'general.html.twig' %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>{% endblock %}

{% block idBody %}monCompte{% endblock %}

{% block contenu %}
    <h2 class="center up">Mon compte</h2>
    <div id="donneesCompte">
        {% if session.sessionEnt is defined %}
                <div class="logoEntOffre logoEntOffre_Max">
                    <img src="logosEntreprises/{{ session.sessionEnt.logo }}" alt="Logo de l'entreprise {{ session.sessionEnt.nom }}">
                    <p class="up bleuF">{{ session.sessionEnt.nom }}</p>
                </div>
                <p>Description : <br><span class="bleuF">{{ session.sessionEnt.desc }}</span></p>


                    <p>Ville : <span class="bleuF">{% for ville in session.sessionEnt.ville %}{{ nom }}{% endfor %}</span></p>


                <p>Numéro SIRET : <span class="bleuF">{{ session.sessionEnt.numSiret }}</span></p>
                <p>Code APE/NAF : <span class="bleuF">{{ session.sessionEnt.codeApeNaf }}</span></p>


                    <p>Type d'entreprise : <span class="bleuF">{{ session.sessionEnt.typeEnt }}</span></p>



                    <p>Statut juridique : <span class="bleuF">{{ session.sessionEnt.statut }}</span></p>



                    <p>Effectif : <span class="bleuF">{{ session.sessionEnt.effectif }}</span></p>


                <p>Site web : <span class="bleuF">{{ session.sessionEnt.url }}</span></p>


                    <p>Nom du responsable : <span class="bleuF">{% if session.sessionEnt.civilite == 0 %}Monsieur {% else %}Madame {% endif %}{{ session.sessionEnt.nomResp }}</span></p>
                    <p>Email du responsable : <span class="bleuF">{{ session.sessionEnt.mailResp }}</span></p>
                    <p>Téléphone du responsable : <span class="bleuF">{{ session.sessionEnt.telResp }}</span></p>


                <p>Identifiant : <span class="bleuF">{{ session.sessionEnt.login }}</span></p>
                <p>Mot de passe : <span class="bleuF">{{ session.sessionEnt.mdp }}</span></p>
        {% endif %}
        {% if session.sessionAdmin is defined %}
                <p>Identifiant : <span class="bleuF">{{ session.sessionAdmin.login }}</span></p>
                <p>Mot de passe : <span class="bleuF">{{ session.sessionAdmin.mdp }}</span></p>
        {% endif %}
    </div>

    {% if session.sessionEnt is defined %}
        <div class="annonces">
            <h2 class="center up bleuF">Mes annonces</h2>
            <p class="center">Vous pouvez déposez une annonce <a href="index.php?page=creerOffre" class="bleuC">ici</a></p>

            <section id="listeOffres">
        {% for offre in session.sessionEnt.annonces %}
            {% if offre != null %}
                    <div class="offre">
                        <div class="logoEntOffre logoEntOffre_Min">
                            <img src="logosEntreprises/{{ session.sessionEnt.logo }}" alt="Logo Entreprise">

                            <h3 class="bleuF up">{% if offre.stage == 1 %}STAGE{% else %}EMPLOI{% endif %}  | {{ session.sessionEnt.nom }}</h3>
                        </div>
                        <div>
                            <p class="titre">{{ offre.posteRecherche[:70] }}</p>
                            <p class="desc">
                                {{ offre.descPoste[:220] }}
                            </p>
                            <a href="{{ session.sessionEnt.url }}" class="bleuF">{{ session.sessionEnt.url }}</a>
                        </div>
                        <div>
                            <div class="gestion">
                                <span class="edit">
                                    <a href="index.php?page=modifAnnonce"><img src="img/edit-icon.png" alt="Icone editer"></a>
                                </span>
                                <a href="index.php?page=confSuppr&id={{ offre.id }}"><img class="supp" src="img/icone_croix.png" alt="Icone supprimer"></a>
                            </div>
                            <span><a href="index.php?page=offreDetaillee&id={{ offre.id }}" class="blanc up">Voir l'offre</a></span>
                        </div>
                    </div>
            {% else %}
                <p>Vous n'avez encore pas déposez d'annonces</p>
            {% endif %}
            {% endfor %}
            </section>
        </div>
    {% endif %}
{% endblock %}