{% extends 'general.html.twig' %}

{% block head %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/previewImage.js"></script>
{% endblock %}

{% block idBody %}inscription{% endblock %}

{% block contenu %}
    <section>
        <h2 class="center up">Inscription</h2>
        <div id="errorForm"></div>
        <div id="formInsc">
            <form method="post" action="index.php?page=inscription" enctype="multipart/form-data">
                <label for="id">Identifiant</label>
                <input type="text" name="loginEnt" id="id" required/><br>
                <div id="errorId" class="errorDiv"></div>

                <label for="psw">Mot de passe</label>
                <input type="password" name="pswEnt" id="psw" required/><br>
                <div id="errorPsw" class="errorDiv"></div>

                <label for="ConfirmedPsw">Confirmation mot de passe</label>
                <input type="password" name="ConfirmedPsw" id="ConfirmedPsw" required/><br>
                <div id="errorConfPsw" class="errorDiv"></div>

                <label for="nomEnt">Nom de l'entreprise</label>
                <input type="text" name="nomEnt" id="nomEnt" required/><br>
                <div id="errorNomEnt" class="errorDiv"></div>

                <label for="siret">N°SIRET</label>
                <input type="text" name="numeroSiret" id="siret" required/><br>
                <div id="errorSiret" class="errorDiv"></div>

                <label for="code">Code APE/NAF</label>
                <input type="text" name="codeAPENAF" id="code" required/><br>
                <div id="errorCode" class="errorDiv"></div>

                <label for="typeEnt">Type d'entreprise</label>
                <select name="typeEnt" id="typeEnt" required>
                    <option>- Choisir un type d'entreprise -</option>
                    {% for typeEnt in listeTypeEntreprise %}
                        <option value="{{typeEnt.id}}">{{ typeEnt.lib }}</option>
                    {% endfor %}
                </select><br>
                <div id="errorTypeEnt" class="errorDiv"></div>

                <label for="statutJur">Statut juridique</label>
                <select name="statutJur" id="statutJur" required>
                    <option>- Choisir un statut -</option>
                    {% for statJur in listeStatutJuridique %}
                        <option value="{{statJur.id}}">{{ statJur.lib }}</option>
                    {% endfor %}
                </select><br>

                <label for="eff">Effectif</label>
                <select name="effectif" id="eff" required>
                    <option>- Choisir un effectif -</option>
                    {% for eff in listeEff %}
                        <option value="{{eff.id}}">{{ eff.qte }}</option>
                    {% endfor %}
                </select><br>

                <label for="url">Site Web</label>
                <input type="url" name="url" id="url"/><br>
                <div id="errorUrl" class="errorDiv"></div>

                <label>Civilité</label><br>
                <span id="civilite">
                    <span>
                        <input type="radio" name="civilite" value="mme" id="mme" required/>
                        <label for="mme">Mme</label>
                    </span>
                    <span>
                        <input type="radio" name="civilite" value="m" id="m" required/>
                        <label for="m">M.</label>
                    </span>
                </span><br>

                <label for="nomResp">Nom de la personne à contacter</label>
                <input type="text" name="nomResp" id="nomResp" required/><br>
                <div id="errorNomResp" class="errorDiv"></div>

                <label for="mail">E-mail de la personne à contacter</label>
                <input type="email" name="mail" id="mail" required/><br>
                <div id="errorMail" class="errorDiv"></div>

                <label for="tel">Téléphone de la personne à contacter</label>
                <input type="tel" name="tel" id="tel" required/><br>
                <div id="errorTel" class="errorDiv"></div>

                <div>
                    <img id="previewImage" src="logosEntreprises/exemple.png" alt="">
                </div>
                <label for="logoEnt">Logo</label>
                <input type="file" name="logoEnt" id="logoEnt" required/><br>

                <label for="desc">Description de l'entreprise</label>
                <textarea name="desc" id="desc" rows="10" cols="40"></textarea><br>

                {#<label for="pays">Pays</label>#}
                {#<input type="text" name="pays" id="pays"/><br>#}

                <label for="ville">Ville</label>
                <select name="ville" id="ville" required>
                    <option>- Choisir une ville -</option>
                    {% for ville in listeVilles %}
                        <option value="{{ville.id}}">{{ ville.nom }}</option>
                    {% endfor %}
                </select><br>

                {#<label for="adr">Adresse</label>#}
                {#<input type="text" name="adr" id="adr"/><br>#}

                {#<label for="cp">Code postal</label>#}
                {#<input type="text" name="cp" id="cp"/><br>#}

                <input class="btn blanc up" type="submit" value="Valider" name="creerEntreprise"/>
            </form>
        </div>
    </section>
{% endblock %}

{% block script %}
    {#<script>#}
        {#$(document).ready(function(){#}
            {#var id = false;#}
            {#var psw = false;#}
            {#var confPsw = false;#}
            {#var nomEnt = false;#}
            {#var siret = false;#}
            {#var code = false;#}
            {#var typeEnt = false;#}
            {#var statutJur = false;#}
            {#var eff = false;#}
            {#var url = false;#}
            {#var nomResp = false;#}
            {#var mail = false;#}
            {#var tel = false;#}

{#//            $('form').on('submit',function(e) {#}
{#//                e.preventDefault();#}
{#//                if(!()){#}
{#//                    $('#errorForm').empty().append("<p>Erreur : formulaire incorrect</p>");#}
{#//                    $('#formInsc').addClass('error');#}
{#//                }#}
{#//            });#}

            {#$('#id').change(function(){#}
                {#id = $(this).val().match(/^[A-ZÀ-Öa-zà-ÿ0-9]+$/);#}
                {#if(id){#}
                    {#$('#id').removeClass('error').addClass('valid');#}
                    {#$('#errorId').empty().append('');#}
                {#}#}
                {#else{#}
                    {#$('#id').removeClass('valid').addClass('error');#}
                    {#$('#errorId').empty().append('<p>Format attendu : pas de caractères spéciaux</p>')#}
                {#}#}
            {#});#}

            {#$('#nomEnt').change(function(){#}
                {#id = $(this).val().match(/^[A-ZÀ-Öa-zà-ÿ0-9]+$/);#}
                {#if(id){#}
                    {#$('#id').removeClass('error').addClass('valid');#}
                    {#$('#errorId').empty().append('');#}
                {#}#}
                {#else{#}
                    {#$('#id').removeClass('valid').addClass('error');#}
                    {#$('#errorId').empty().append('<p>Format attendu : pas de caractères spéciaux</p>')#}
                {#}#}
            {#});#}

        {#})#}
    {#</script>#}
{% endblock %}

