{% extends 'general.html.twig' %}

{% block idBody %}inscription{% endblock %}

{% block contenu %}
    <section>
        <h2 class="center up">Inscription</h2>
        <div id="formInsc">
            <form method="post" action="#">
                <p>
                    <label for="idCo">Identifiant</label>
                    <input type="text" name="loginEnt" id="idCo"/><br>

                    <label for="psw">Mot de passe</label>
                    <input type="password" name="pswEnt" id="psw"/><br>

                    <label for="ConfirmedPsw">Confirmation mot de passe</label>
                    <input type="password" name="ConfirmedPsw" id="ConfirmedPsw"/><br>

                    <label for="nomEnt">Nom de l'entreprise</label>
                    <input type="text" name="nomEnt" id="nomEnt"/><br>

                    <label for="siret">N°SIRET</label>
                    <input type="text" name="numeroSiret" id="siret"/><br>

                    <label for="code">Code APE/NAF</label>
                    <input type="text" name="codeAPENAF" id="code"/><br>

                    <label for="typeEnt">Type d'entreprise</label>
                    <select name="typeEnt" id="typeEnt">
                        <option>- Choisir une valeur -</option>
                        {% for typeEnt in listeTypeEntreprise %}
                            <option value="{{typeEnt.id}}">{{ typeEnt.lib }}</option>
                        {% endfor %}
                    </select><br>

                    <label for="statutJur">Statut juridique</label>
                    <select name="statutJur" id="statutJur">
                        <option>- Choisir une valeur -</option>
                        {% for statJur in listeStatutJuridique %}
                            <option value="{{statJur.id}}">{{ statJur.lib }}</option>
                        {% endfor %}
                    </select><br>

                    <label for="eff">Effectif</label>
                    <select name="effectif" id="eff">
                        <option>- Choisir une valeur -</option>
                        {% for eff in listeEff %}
                            <option value="{{eff.id}}">{{ eff.qte }}</option>
                        {% endfor %}
                        {#<option value="">De 1 à 9</option>#}
                        {#<option value="">De 10 à 49</option>#}
                        {#<option value="">De 50 à 199</option>#}
                        {#<option value="">De 200 à 999</option>#}
                        {#<option value="">Plus de 1000</option>#}
                    </select><br>

                    <label for="url">Site Web</label>
                    <input type="url" name="url" id="url"/><br>

                    <label for="nomResp">Nom de la personne à contacter</label>
                    <input type="text" name="nomResp" id="nomResp"/><br>

                    <label for="mail">E-mail de la personne à contacter</label>
                    <input type="email" name="mail" id="mail"/><br>

                    <label for="tel">Téléphone de la personne à contacter</label>
                    <input type="tel" name="tel" id="tel"/><br>

                    <label for="logoEnt">Logo</label>
                    <input type="file" name="logoEnt" id="logoEnt"/><br>

                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" rows="10" cols="40"></textarea><br>

                    <label for="pays">Pays</label>
                    <input type="text" name="pays" id="pays"/><br>

                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville"/><br>

                    <label for="adr">Adresse</label>
                    <input type="text" name="adr" id="adr"/><br>

                    <label for="cp">Code postal</label>
                    <input type="text" name="cp" id="cp"/><br>

                    <input class="btn blanc up" type="submit" value="Valider" name="creerEntreprise"/>
                </p>
            </form>
        </div>
    </section>
{% endblock %}