{% extends 'general.html.twig' %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>{% endblock %}

{% block idBody %}offreDetaillee{% endblock %}

{% block contenu %}
    <div>
        <div class="logoEntOffre logoEntOffre_Max">
            {% for ent in annonce.entreprise %}
                <img src="logosEntreprises/{{ ent.logo }}" alt="Logo de l'entreprise {{ ent.nom }}">
                <h3 class="bleuF up">{{ ent.nom }}</h3>
            {% endfor %}
        </div>
        <div>
            <div id="donneesOffre">
                <h3 class="up">Poste recherché</h3>
                <p>
                    {{ annonce.posteRecherche }}
                </p>
                <h3 class="up">Description du poste</h3>
                <p>
                    {{ annonce.descPoste }}
                </p>
                <h3 class="up">Profil recherché</h3>
                <p>
                    {{ annonce.profilRecherche }}
                </p>
            </div>
            <div>
                {% for ent in annonce.entreprise %}
                    <p><a href="{{ ent.url }}" class="bleuF">{{ ent.url }}</a></p>
                    <p>Responsable : <span class="bleuF">{% if ent.civilite == 0 %}Monsieur {% else %}Madame {% endif %}{{ ent.nomResp }}</span></p>
                    <p>Tel. <span class="bleuF">{{ ent.telResp }}</span></p>
                    <p>Email <span class="bleuF">{{ ent.mailResp }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}