{% extends 'general.html.twig' %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>{% endblock %}

{% block idBody %}offres{% endblock %}

{% block contenu %}
    <div>
        <h2 class="up center">
            Consultez les offres de stages et d'emplois
        </h2>
        {% if session.sessionEnt is defined %}
            <p class="center">Vous êtes une entreprise ? <a href="index.php?page=creerOffre" class="bleuC">Postez votre offre ici</a></p>
        {% endif %}
    </div>

    <div>
        <div id="filtres">
            <button id="btn_stage" class="up" data-affiche="affiche-offreStage">Stages</button>
            <button id="btn_emploi" class="up" data-affiche="affiche-offreEmploi">Emplois</button>
        </div>
        {#<div id="searchForm">#}
            {#<form method="post" action="traitement.php">#}
                {#<img src="img/icone_loupe.png" alt="Icône Loupe">#}
                {#<input type="search"/>#}
            {#</form>#}
            {#<form method="post" action="traitement.php">#}
                {#<img src="img/icone_pointeur.png" alt="Icône Pointeur">#}
                {#<input type="search"/>#}
            {#</form>#}
        {#</div>#}
    </div>
    
    <section id="listeOffres">
        {% for annonce in listeAnnonce %}
            {% for ent in annonce.entreprise %}
                <div class="offre {% if annonce.stage == 1 %}offreStage{% else %}offreEmploi{% endif %}">
                    <div class="logoEntOffre logoEntOffre_Min">
                        <img src="logosEntreprises/{{ ent.logo }}" alt="Logo de l'entreprise {{ ent.nom }}">
                        <h3 class="bleuF up">{% if annonce.stage == 1 %}STAGE{% else %}EMPLOI{% endif %} | {{ ent.nom }}</h3>
                    </div>
                    <div>
                        <p class="titre">{{ annonce.posteRecherche[:70] }}</p>
                        <p class="desc">
                            {{ annonce.descPoste[:220] }}
                        </p>
                        <a href="{{ ent.url }}" class="bleuF">{{ ent.url }}</a>
                    </div>
                    <div>
                        <span><a href="index.php?page=offreDetaillee&id={{ annonce.id }}" class="blanc up">Voir l'offre</a></span>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}


{% block script %}

    <script>
        (function () {
            "use strict";

            var liste = document.querySelector("#listeOffres");

            var filtres = document.querySelector("#filtres");

            function clickAffiche(evt) {
                if (evt.target.matches("button")) {
                    console.log("utiliser : ", evt.target.affiche);

                    liste.className = '';
                    liste.classList.add(evt.target.dataset.affiche);
                }
            }
            filtres.addEventListener("click", clickAffiche);

        }());
    </script>

{% endblock %}